#first{
	background-color: red;
	height:768px;
	width:100%;
	margin-top:-20px;


}
#second{
	background-color: blue;
	height:768px;
	width:100%;
	margin-top:-20px;



}
#third{
	background-color: green;
	height:768px;
	width:100%;
	margin-top:-20px;


}
#fourth{
	background-color: yellow;
	height:768px;
	width:100%;
	margin-top:-20px;


}
#fifth{
	background-color: orange;
	height:768px;
	width:100%;
	margin-top:-20px;


}
body{

padding:0;
margin:0;

}

